:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    color: rgb(25, 37, 103);
    background-color: rgb(244, 246, 255);
}

/* @media (prefers-color-scheme: dark) {
  :root {
  
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb(25, 37, 103);
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
/*

  palette: {
    primary: {
      main: 'rgb(25, 37, 103)',
      contrastText: 'rgb(179, 185, 218)',
    },
    secondary: {
      main: 'rgb(51, 71, 176)',
      contrastText: 'rgb(149, 158, 207)',
    },
    error: {
      main: 'rgb(186, 26, 26)',
      contrastText: 'rgb(255, 255, 255)',
    },
    background: {
      default: 'rgb(244, 246, 255)',
      paper: 'rgb(255, 255, 255)',
    },
    text: {
      primary: 'rgb(25, 37, 103)',
      secondary: 'rgb(51, 71, 176)',
    },
  },
});
*/
h1, h2, h3, h4, h5, h6 {
  font-family: "Assistant";
}
